<!doctype html>
<html>
<head>
<title>Goni Dashboard</title>
<link rel="stylesheet" href="/style.css" type="text/css" />
<link rel="stylesheet" href="/reactselect.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css" >
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="/public/client.js"></script>
</body>
</html> 
