<!doctype html>
<html>
<head>
<title>Goni Dashboard</title>
<link rel="stylesheet" href="//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css" type="text/css" />
<link rel="stylesheet" href="/style.css" type="text/css" />
<link rel="stylesheet" href="https://s3.ap-northeast-2.amazonaws.com/static.goniapm.io/reactselect.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/cal-heatmap/3.6.0/cal-heatmap.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css" type="text/css" />
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="/public/client.min.js"></script>
</body>
</html> 
